@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  color: #333;
  font-family: sans-serif;
}

.main {
  @include fill-parent();
  height: 100%;
  width: 100%;

  #map {
	@include span-columns(8);
	@include pad();
	height: 100%;

  }

  .infobox {
	@include span-columns(4);
	@include pad();

	h1 {
	  font-size: 2em;
	}

	  .liftbox {
		  @include display(flex);
		  @include flex-wrap(nowrap);
		  justify-content: space-between;
		  padding:0.75em;
		  margin-top:0.5em;
		  margin-bottom:0.5em;
		  box-shadow: 0 2px 4px darken($base-background-color, 20%);
		  //border-bottom: 1px solid #acbcac;

		  .db_id{
			  //margin-right: 1em;
		  }

		  .button_wrap {
			  margin-left: 3em;

			  #tagme {
				  @include button;
			  }

		  }
	  }

  }
}

hr {
  margin: 1em 0em;
}

