doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')

    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
    link(rel='stylesheet', href='http://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css')
  body
    block content
